<h1>БЫТЬ МУНАШЕЙ</h1>
<h2>Глубоко философская игра о сложности выбора, экзистенциальности бытия и причинно-следственных связях.</h2>
<h3>Нажми "НАЧАТЬ" и почувствуй нотки тлена в своем сердце.</h3>
<h4>* для прокрутки сообщений нажимай пробел или кликай по гайду</h4>
<div id="new_game_form">
	<%= form_tag login_url, method: :post do %>
		<%= submit_tag "НАЧАТЬ" %>
	<% end %>
</div>