/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
img {
	/*display: block; */
	margin: 0 auto;
}


	body, html{
/*		margin: 0;
		padding: 0;*/
	}

	div 
	{
		/*border: 1px black solid;*/
	}

	a.show_statistics
	{
		position: absolute;
		z-index: 10;
	}

	div.statistics
	{
		position: absolute;
		display: none;
		top: 30px;
		padding: 0px 25px;
		background: rgba(100, 100, 100, 0.4);
		z-index: 10;
	}

	div.wrap
	{
		min-width: 800px;
		max-width: 890px;
		width: 65%;
		margin: 0 auto;
		position: relative;
	}

	div.container
	{
		position: relative;
		background-repeat: no-repeat;
		background-size: 100%;
		min-width: 800px;
		max-width: 1200px;
		height: 630px;
		margin: 0 auto;
		border: none;
		overflow: hidden;
	}

	div.container img
	{
		width: 100%;
	}


	div.container:after 
	{
		content: '';
		display: block;
		clear: both;
	}

	div.controls
	{
		height: 22px;
	}

	div.controls form
	{
		float: left;
	}


	div.footer
	{
		min-width: 800px;
		max-width: 890px;
		width: 65%;
		margin: 0 auto;
		height: 250px;
	}

	div.text_output
	{
		float: left;
		height: 100%;
		overflow-y: auto;
		width: 62%;
	}

	div.guide
	{
		display: inline-block;
		width: 37%;
		height: 100%;
		background-size: 100%;
		overflow: hidden;
	}

	div.guide img
	{
		height: 100%;
	}