<!DOCTYPE html>
<html>
<head>
  <title>Munashka</title>
  	<meta property="og:title" content="Быть Мунашей"/>
	<meta property="og:url" content="http://munash.herokuapp.com/"/>
	<meta property="og:image" content="http://munash.herokuapp.com/assets/logo.jpg"/>
	<meta property="og:description" content="ГЛУБОКО ФИЛОСОФСКАЯ ИГРА О СЛОЖНОСТИ ВЫБОРА, ЭКЗИСТЕНЦИАЛЬНОСТИ БЫТИЯ И ПРИЧИННО-СЛЕДСТВЕННЫХ СВЯЗЯХ."/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
